@import url('BPMNViewer.css');
@import url('DocumentationViewer.css');
@import url('SplitterLayout.css');

@import '../root.css';
@layer base {
  .dark,
  .dark * {
    --asdk-ddi-background-color: var(
      --app-sdk-diagram-documentation-inspector-background-color,
      theme('colors.app-sdk-gray.700')
    );
    --asdk-ddi-text-color: var(--app-sdk-diagram-documentation-inspector-text-color, theme('colors.app-sdk-gray.50'));
  }

  *,
  ::before,
  ::after {
    --asdk-ddi-background-color: var(--app-sdk-diagram-documentation-inspector-background-color, theme(colors.white));
    --asdk-ddi-text-color: var(--app-sdk-diagram-documentation-inspector-text-color, theme('colors.app-sdk-gray.700'));
  }

  .documentation-overlay-icon {
    background-color: var(--asdk-ddi-background-color);
    padding: 2px;
    border-radius: 25%;
  }

  .documentation-area {
    display: flex;
    justify-content: center;
    height: 100%;
    background-color: var(--asdk-ddi-background-color);
    color: var(--asdk-ddi-text-color);
    mask-image: linear-gradient(#000, #000, transparent 0, #000 1.5rem, #000 calc(100% - 1.5rem), transparent);
    -webkit-mask-image: linear-gradient(#000, #000, transparent 0, #000 1.5rem, #000 calc(100% - 1.5rem), transparent);

    & > p.documentation-area__info {
      margin: 0;
      padding: 1.5rem;
    }
  }
}
