@import url('DiagramDocumentationInspector.css');

@import '../root.css';
@layer base {
  .dark,
  .dark * {
    --asdk-pii-background-color: var(
      --app-sdk-process-instance-inspector-background-color,
      theme('colors.app-sdk-gray.700')
    );
    --asdk-pii-text-color: var(--app-sdk-process-instance-inspector-text-color, theme('colors.app-sdk-gray.50'));
  }

  *,
  ::before,
  ::after {
    --asdk-pii-background-color: var(--app-sdk-process-instance-inspector-background-color, theme(colors.white));
    --asdk-pii-text-color: var(--app-sdk-process-instance-inspector-text-color, theme('colors.app-sdk-gray.700'));
  }

  .asdk-pii-play-button:hover {
    svg {
      fill: var(--app-sdk-process-instance-inspector-play-button-hover-color, theme(colors.white)) !important;
    }
  }

  .asdk-pii-flow-node-instance-state--finished {
    .djs-hit {
      fill: var(--app-sdk-process-instance-inspector-state-finished-color, theme(colors.green.500)) !important;
      fill-opacity: 0.2;
      filter: blur(10px);
    }

    g.djs-visual > :first-child {
      fill-opacity: 0.4 !important;
      filter: drop-shadow(
        0 0 3px var(--app-sdk-process-instance-inspector-state-finished-color, theme(colors.green.500))
      );
    }
  }

  .asdk-pii-flow-node-instance-state--running,
  .asdk-pii-flow-node-instance-state--suspended {
    .djs-hit {
      fill: var(--app-sdk-process-instance-inspector-state-running-color, theme(colors.sky.500)) !important;
      fill-opacity: 0.2;
      filter: blur(10px);
    }

    g.djs-visual > :first-child {
      fill-opacity: 0.4 !important;
      filter: drop-shadow(0 0 3px var(--app-sdk-process-instance-inspector-state-running-color, theme(colors.sky.500)));
    }
  }

  .asdk-pii-flow-node-instance-state--terminated {
    .djs-hit {
      fill: var(--app-sdk-process-instance-inspector-state-terminated-color, theme(colors.red.500)) !important;
      fill-opacity: 0.2;
      filter: blur(10px);
    }

    g.djs-visual > :first-child {
      fill-opacity: 0.4 !important;
      filter: drop-shadow(
        0 0 3px var(--app-sdk-process-instance-inspector-state-terminated-color, theme(colors.red.500))
      );
    }
  }

  .connection-done .djs-visual > * {
    stroke: var(--app-sdk-process-instance-inspector-state-finished-color, theme(colors.green.400)) !important;
  }
}
