@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .dark,
  .dark * {
    --dui-background-color: var(--dynamic-user-interface-background-color, theme('colors.dynamicui-gray.500'));
    --dui-text-color: var(--dynamic-user-interface-text-color, theme('colors.dynamicui-gray.50'));
    --dui-shadow-color: var(--dynamic-user-interface-shadow-color, theme('colors.dynamicui-gray.300'));
    --dui-border-color: var(--dynamic-user-interface-border-color, var(--border-color, transparent));
    --dui-focus-color: var(--dynamic-user-interface-focus-color, var(--focus-color, #007bff40));

    --dui-formfield-hint-text-color: var(
      --dynamic-user-interface-formfield-hint-text-color,
      var(--formfield-hint-text-color, theme('colors.dynamicui-gray.200'))
    );
    --dui-formfield-background-color: var(
      --dynamic-user-interface-formfield-background-color,
      var(--formfield-background-color, theme('colors.dynamicui-gray.350'))
    );
    --dui-formfield-placeholder-text-color: var(
      --dynamic-user-interface-formfield-placeholder-text-color,
      var(--formfield-placeholder-text-color, theme('colors.gray.400'))
    );
    --dui-formfield-invalid-color: var(
      --dynamic-user-interface-formfield-invalid-color,
      var(--formfield-invalid-color, #dc35467f)
    );
    --dui-formfield-checkbox-text-color: var(
      --dynamic-user-interface-formfield-checkbox-text-color,
      var(--formfield-checkbox-text-color, #007bff40)
    );

    /* HEADER */
    --dui-header-text-color: var(
      --dynamic-user-interface-header-text-color,
      var(--text-color, theme('colors.dynamicui-gray.150'))
    );

    --dui-header-dropdown-icon-text-color: var(
      --dynamic-user-interface-header-dropdown-icon-text-color,
      var(--icon-color, theme('colors.dynamicui-gray.150'))
    );
    --dui-header-dropdown-icon-text-hover-color: var(
      --dynamic-user-interface-header-dropdown-icon-text-hover-color,
      var(--icon-hover-color, theme('colors.dynamicui-gray.100'))
    );

    --dui-header-dropdown-menu-background-color: var(
      --dynamic-user-interface-header-dropdown-menu-background-color,
      var(--dropdown-menu-background-color, theme('colors.dynamicui-gray.400'))
    );
    --dui-header-dropdown-menu-entry-background-hover-color: var(
      --dynamic-user-interface-header-dropdown-menu-entry-background-hover-color,
      var(--dropdown-menu-entry-background-hover-color, theme('colors.dynamicui-gray.250'))
    );
    --dui-header-dropdown-menu-terminate-entry-text-color: var(
      --dynamic-user-interface-header-dropdown-menu-terminate-entry-text-color,
      #d6868d
    );

    /* FOOTER */
    --dui-footer-background-color: var(
      --dynamic-user-interface-footer-background-color,
      theme('colors.dynamicui-gray.600')
    );
    --dui-footer-continue-button-background-color: var(
      --dynamic-user-interface-footer-continue-button-background-color,
      #33609a
    );
    --dui-footer-continue-button-background-hover-color: var(
      --dynamic-user-interface-footer-continue-button-background-hover-color,
      #3666a5
    );
    --dui-footer-continue-button-focus-outline-color: var(
      --dynamic-user-interface-footer-continue-button-focus-outline-color,
      #3666a5
    );

    --dui-footer-decline-button-text-color: var(
      --dynamic-user-interface-footer-decline-button-text-color,
      theme('colors.dynamicui-gray.50')
    );
    --dui-footer-decline-button-background-color: var(
      --dynamic-user-interface-footer-decline-button-background-color,
      theme('colors.dynamicui-gray.350')
    );
    --dui-footer-decline-button-background-hover-color: var(
      --dynamic-user-interface-footer-decline-button-background-hover-color,
      theme('colors.dynamicui-gray.300')
    );
    --dui-footer-decline-button-focus-outline-color: var(
      --dynamic-user-interface-footer-decline-button-focus-outline-color,
      theme('colors.dynamicui-gray.300')
    );
  }

  *,
  ::before,
  ::after {
    box-sizing: border-box;
    --dui-background-color: var(
      --dynamic-user-interface-background-color,
      var(--background-color, theme('colors.white'))
    );
    --dui-text-color: var(--dynamic-user-interface-text-color, var(--text-bright-color, theme('colors.gray.700')));
    --dui-link-color: var(--dynamic-user-interface-link-color, var(--link-color, theme('colors.sky.600')));
    --dui-link-hover-color: var(
      --dynamic-user-interface-link-hover-color,
      var(--link-hover-color, theme('colors.sky.900'))
    );
    --dui-border-color: var(--dynamic-user-interface-border-color, var(--border-color, theme('colors.gray.300')));
    --dui-focus-color: var(--dynamic-user-interface-focus-color, var(--focus-color, theme('colors.sky.700')));
    --dui-shadow-color: var(--dynamic-user-interface-shadow-color, theme('colors.gray.400'));

    --dui-formfield-hint-text-color: var(
      --dynamic-user-interface-formfield-hint-text-color,
      var(--formfield-hint-text-color, theme('colors.gray.500'))
    );
    --dui-formfield-background-color: var(
      --dynamic-user-interface-formfield-background-color,
      var(--formfield-background-color, theme('colors.white'))
    );
    --dui-formfield-placeholder-text-color: var(
      --dynamic-user-interface-formfield-placeholder-text-color,
      var(--formfield-placeholder-text-color, theme('colors.gray.500'))
    );
    --dui-formfield-invalid-color: var(
      --dynamic-user-interface-formfield-invalid-color,
      var(--formfield-invalid-color, theme('colors.red.500'))
    );
    --dui-formfield-checkbox-text-color: var(
      --dynamic-user-interface-formfield-checkbox-text-color,
      var(--formfield-checkbox-text-color, theme('colors.sky.600'))
    );

    /* HEADER */
    --dui-header-text-color: var(
      --dynamic-user-interface-header-text-color,
      var(--text-color, theme('colors.gray.900'))
    );

    --dui-header-dropdown-icon-text-color: var(
      --dynamic-user-interface-header-dropdown-icon-text-color,
      var(--icon-color, theme('colors.gray.400'))
    );
    --dui-header-dropdown-icon-text-hover-color: var(
      --dynamic-user-interface-header-dropdown-icon-text-hover-color,
      var(--icon-hover-color, theme('colors.gray.500'))
    );

    --dui-header-dropdown-menu-background-color: var(
      --dynamic-user-interface-header-dropdown-menu-background-color,
      var(--dropdown-menu-background-color, theme('colors.white'))
    );
    --dui-header-dropdown-menu-entry-background-hover-color: var(
      --dynamic-user-interface-header-dropdown-menu-entry-background-hover-color,
      var(--dropdown-menu-entry-background-hover-color, theme('colors.gray.100'))
    );
    --dui-header-dropdown-menu-suspend-entry-text-color: var(
      --dynamic-user-interface-header-dropdown-menu-suspend-entry-text-color,
      var(--dui-text-color)
    );
    --dui-header-dropdown-menu-terminate-entry-text-color: var(
      --dynamic-user-interface-header-dropdown-menu-terminate-entry-text-color,
      theme('colors.red.700')
    );

    /* FOOTER */
    --dui-footer-background-color: var(--dynamic-user-interface-footer-background-color, theme('colors.gray.50'));

    --dui-footer-continue-button-text-color: var(
      --dynamic-user-interface-footer-continue-button-text-color,
      theme('colors.white')
    );
    --dui-footer-continue-button-background-color: var(
      --dynamic-user-interface-footer-continue-button-background-color,
      theme('colors.sky.600')
    );
    --dui-footer-continue-button-background-hover-color: var(
      --dynamic-user-interface-footer-continue-button-background-hover-color,
      theme('colors.sky.700')
    );
    --dui-footer-continue-button-focus-outline-color: var(
      --dynamic-user-interface-footer-continue-button-focus-outline-color,
      theme('colors.sky.500')
    );

    --dui-footer-decline-button-text-color: var(
      --dynamic-user-interface-footer-decline-button-text-color,
      theme('colors.gray.700')
    );
    --dui-footer-decline-button-background-color: var(
      --dynamic-user-interface-footer-decline-button-background-color,
      theme('colors.white')
    );
    --dui-footer-decline-button-background-hover-color: var(
      --dynamic-user-interface-footer-decline-button-background-hover-color,
      theme('colors.gray.50')
    );
    --dui-footer-decline-button-focus-outline-color: var(
      --dynamic-user-interface-footer-decline-button-focus-outline-color,
      theme('colors.gray.300')
    );
  }
}
