@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .dark,
  .dark * {
    --dui-background-color: var(--dynamic-user-interface-background-color, theme('colors.dynamicui-gray.500'));
    --dui-text-color: var(--dynamic-user-interface-text-color, theme('colors.dynamicui-gray.50'));
    --dui-shadow-color: var(--dynamic-user-interface-shadow-color, theme('colors.dynamicui-gray.300'));
    --dui-border-color: var(--dynamic-user-interface-border-color, var(--border-color, transparent));
    --dui-focus-color: var(--dynamic-user-interface-focus-color, var(--focus-color, #007bff40));

    --dui-formfield-hint-text-color: var(
      --dynamic-user-interface-formfield-hint-text-color,
      var(--formfield-hint-text-color, theme('colors.dynamicui-gray.200'))
    );
    --dui-formfield-background-color: var(
      --dynamic-user-interface-formfield-background-color,
      var(--formfield-background-color, theme('colors.dynamicui-gray.350'))
    );
    --dui-formfield-placeholder-text-color: var(
      --dynamic-user-interface-formfield-placeholder-text-color,
      var(--formfield-placeholder-text-color, theme('colors.gray.400'))
    );
    --dui-formfield-invalid-color: var(
      --dynamic-user-interface-formfield-invalid-color,
      var(--formfield-invalid-color, #dc35467f)
    );
    --dui-formfield-checkbox-text-color: var(
      --dynamic-user-interface-formfield-checkbox-text-color,
      var(--formfield-checkbox-text-color, #007bff74)
    );

    /* HEADER */
    --dui-header-text-color: var(
      --dynamic-user-interface-header-text-color,
      var(--text-color, theme('colors.dynamicui-gray.150'))
    );

    --dui-header-dropdown-icon-text-color: var(
      --dynamic-user-interface-header-dropdown-icon-text-color,
      var(--icon-color, theme('colors.dynamicui-gray.150'))
    );
    --dui-header-dropdown-icon-text-hover-color: var(
      --dynamic-user-interface-header-dropdown-icon-text-hover-color,
      var(--icon-hover-color, theme('colors.dynamicui-gray.100'))
    );

    --dui-header-dropdown-menu-background-color: var(
      --dynamic-user-interface-header-dropdown-menu-background-color,
      var(--dropdown-menu-background-color, theme('colors.dynamicui-gray.400'))
    );
    --dui-header-dropdown-menu-entry-background-hover-color: var(
      --dynamic-user-interface-header-dropdown-menu-entry-background-hover-color,
      var(--dropdown-menu-entry-background-hover-color, theme('colors.dynamicui-gray.250'))
    );
    --dui-header-dropdown-menu-terminate-entry-text-color: var(
      --dynamic-user-interface-header-dropdown-menu-terminate-entry-text-color,
      #d6868d
    );

    /* FOOTER */
    --dui-footer-background-color: var(
      --dynamic-user-interface-footer-background-color,
      theme('colors.dynamicui-gray.600')
    );
    --dui-footer-continue-button-background-color: var(
      --dynamic-user-interface-footer-continue-button-background-color,
      #33609a
    );
    --dui-footer-continue-button-background-hover-color: var(
      --dynamic-user-interface-footer-continue-button-background-hover-color,
      #3666a5
    );
    --dui-footer-continue-button-focus-outline-color: var(
      --dynamic-user-interface-footer-continue-button-focus-outline-color,
      #3666a5
    );

    --dui-footer-decline-button-text-color: var(
      --dynamic-user-interface-footer-decline-button-text-color,
      theme('colors.dynamicui-gray.50')
    );
    --dui-footer-decline-button-background-color: var(
      --dynamic-user-interface-footer-decline-button-background-color,
      theme('colors.dynamicui-gray.350')
    );
    --dui-footer-decline-button-background-hover-color: var(
      --dynamic-user-interface-footer-decline-button-background-hover-color,
      theme('colors.dynamicui-gray.300')
    );
    --dui-footer-decline-button-focus-outline-color: var(
      --dynamic-user-interface-footer-decline-button-focus-outline-color,
      theme('colors.dynamicui-gray.300')
    );
  }

  *,
  ::before,
  ::after {
    box-sizing: border-box;
    --dui-background-color: var(
      --dynamic-user-interface-background-color,
      var(--background-color, theme('colors.white'))
    );
    --dui-text-color: var(--dynamic-user-interface-text-color, var(--text-bright-color, theme('colors.gray.700')));
    --dui-link-color: var(--dynamic-user-interface-link-color, var(--link-color, theme('colors.sky.600')));
    --dui-link-hover-color: var(
      --dynamic-user-interface-link-hover-color,
      var(--link-hover-color, theme('colors.sky.900'))
    );
    --dui-border-color: var(--dynamic-user-interface-border-color, var(--border-color, theme('colors.gray.300')));
    --dui-focus-color: var(--dynamic-user-interface-focus-color, var(--focus-color, theme('colors.sky.700')));
    --dui-shadow-color: var(--dynamic-user-interface-shadow-color, theme('colors.gray.400'));

    --dui-formfield-hint-text-color: var(
      --dynamic-user-interface-formfield-hint-text-color,
      var(--formfield-hint-text-color, theme('colors.gray.500'))
    );
    --dui-formfield-background-color: var(
      --dynamic-user-interface-formfield-background-color,
      var(--formfield-background-color, theme('colors.white'))
    );
    --dui-formfield-placeholder-text-color: var(
      --dynamic-user-interface-formfield-placeholder-text-color,
      var(--formfield-placeholder-text-color, theme('colors.gray.500'))
    );
    --dui-formfield-invalid-color: var(
      --dynamic-user-interface-formfield-invalid-color,
      var(--formfield-invalid-color, theme('colors.red.500'))
    );
    --dui-formfield-checkbox-text-color: var(
      --dynamic-user-interface-formfield-checkbox-text-color,
      var(--formfield-checkbox-text-color, theme('colors.sky.600'))
    );

    /* HEADER */
    --dui-header-text-color: var(
      --dynamic-user-interface-header-text-color,
      var(--text-color, theme('colors.gray.900'))
    );

    --dui-header-dropdown-icon-text-color: var(
      --dynamic-user-interface-header-dropdown-icon-text-color,
      var(--icon-color, theme('colors.gray.400'))
    );
    --dui-header-dropdown-icon-text-hover-color: var(
      --dynamic-user-interface-header-dropdown-icon-text-hover-color,
      var(--icon-hover-color, theme('colors.gray.500'))
    );

    --dui-header-dropdown-menu-background-color: var(
      --dynamic-user-interface-header-dropdown-menu-background-color,
      var(--dropdown-menu-background-color, theme('colors.white'))
    );
    --dui-header-dropdown-menu-entry-background-hover-color: var(
      --dynamic-user-interface-header-dropdown-menu-entry-background-hover-color,
      var(--dropdown-menu-entry-background-hover-color, theme('colors.gray.100'))
    );
    --dui-header-dropdown-menu-suspend-entry-text-color: var(
      --dynamic-user-interface-header-dropdown-menu-suspend-entry-text-color,
      var(--dui-text-color)
    );
    --dui-header-dropdown-menu-terminate-entry-text-color: var(
      --dynamic-user-interface-header-dropdown-menu-terminate-entry-text-color,
      theme('colors.red.700')
    );

    /* FOOTER */
    --dui-footer-background-color: var(--dynamic-user-interface-footer-background-color, theme('colors.gray.50'));

    --dui-footer-continue-button-text-color: var(
      --dynamic-user-interface-footer-continue-button-text-color,
      theme('colors.white')
    );
    --dui-footer-continue-button-background-color: var(
      --dynamic-user-interface-footer-continue-button-background-color,
      theme('colors.sky.600')
    );
    --dui-footer-continue-button-background-hover-color: var(
      --dynamic-user-interface-footer-continue-button-background-hover-color,
      theme('colors.sky.700')
    );
    --dui-footer-continue-button-focus-outline-color: var(
      --dynamic-user-interface-footer-continue-button-focus-outline-color,
      theme('colors.sky.500')
    );

    --dui-footer-decline-button-text-color: var(
      --dynamic-user-interface-footer-decline-button-text-color,
      theme('colors.gray.700')
    );
    --dui-footer-decline-button-background-color: var(
      --dynamic-user-interface-footer-decline-button-background-color,
      theme('colors.white')
    );
    --dui-footer-decline-button-background-hover-color: var(
      --dynamic-user-interface-footer-decline-button-background-hover-color,
      theme('colors.gray.50')
    );
    --dui-footer-decline-button-focus-outline-color: var(
      --dynamic-user-interface-footer-decline-button-focus-outline-color,
      theme('colors.gray.300')
    );
  }

  .dynamic-ui {
    /*
    1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
    2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
    */

    *,
    ::before,
    ::after {
      box-sizing: border-box; /* 1 */
      border-width: 0; /* 2 */
      border-style: solid; /* 2 */
      border-color: theme('borderColor.DEFAULT', currentColor); /* 2 */
    }

    ::before,
    ::after {
      --tw-content: '';
    }

    /*
    1. Use a consistent sensible line-height in all browsers.
    2. Prevent adjustments of font size after orientation changes in iOS.
    3. Use a more readable tab size.
    4. Use the user's configured `sans` font-family by default.
    5. Use the user's configured `sans` font-feature-settings by default.
    6. Use the user's configured `sans` font-variation-settings by default.
    7. Disable tap highlights on iOS
    */

    *,
    :host {
      line-height: 1.5; /* 1 */
      -webkit-text-size-adjust: 100%; /* 2 */
      -moz-tab-size: 4; /* 3 */
      tab-size: 4; /* 3 */
      font-family: theme(
        'fontFamily.sans',
        ui-sans-serif,
        system-ui,
        sans-serif,
        'Apple Color Emoji',
        'Segoe UI Emoji',
        'Segoe UI Symbol',
        'Noto Color Emoji'
      ); /* 4 */
      font-feature-settings: theme('fontFamily.sans[1].fontFeatureSettings', normal); /* 5 */
      font-variation-settings: theme('fontFamily.sans[1].fontVariationSettings', normal); /* 6 */
      -webkit-tap-highlight-color: transparent; /* 7 */
    }

    /*
    1. Remove the margin in all browsers.
    2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
    */

    * {
      margin: 0; /* 1 */
      line-height: inherit; /* 2 */
    }

    /*
    1. Add the correct height in Firefox.
    2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
    3. Ensure horizontal rules are visible by default.
    */

    hr {
      height: 0; /* 1 */
      color: inherit; /* 2 */
      border-top-width: 1px; /* 3 */
    }

    /*
    Add the correct text decoration in Chrome, Edge, and Safari.
    */

    abbr:where([title]) {
      text-decoration: underline dotted;
    }

    /*
    Remove the default font size and weight for headings.
    */

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-size: inherit;
      font-weight: inherit;
    }

    /*
    Reset links to optimize for opt-in styling instead of opt-out.
    */

    a {
      color: inherit;
      text-decoration: inherit;
    }

    /*
    Add the correct font weight in Edge and Safari.
    */

    b,
    strong {
      font-weight: bolder;
    }

    /*
    1. Use the user's configured `mono` font-family by default.
    2. Use the user's configured `mono` font-feature-settings by default.
    3. Use the user's configured `mono` font-variation-settings by default.
    4. Correct the odd `em` font sizing in all browsers.
    */

    code,
    kbd,
    samp,
    pre {
      font-family: theme(
        'fontFamily.mono',
        ui-monospace,
        SFMono-Regular,
        Menlo,
        Monaco,
        Consolas,
        'Liberation Mono',
        'Courier New',
        monospace
      ); /* 1 */
      font-feature-settings: theme('fontFamily.mono[1].fontFeatureSettings', normal); /* 2 */
      font-variation-settings: theme('fontFamily.mono[1].fontVariationSettings', normal); /* 3 */
      font-size: 1em; /* 4 */
    }

    /*
    Add the correct font size in all browsers.
    */

    small {
      font-size: 80%;
    }

    /*
    Prevent `sub` and `sup` elements from affecting the line height in all browsers.
    */

    sub,
    sup {
      font-size: 75%;
      line-height: 0;
      position: relative;
      vertical-align: baseline;
    }

    sub {
      bottom: -0.25em;
    }

    sup {
      top: -0.5em;
    }

    /*
    1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
    2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
    3. Remove gaps between table borders by default.
    */

    table {
      text-indent: 0; /* 1 */
      border-color: inherit; /* 2 */
      border-collapse: collapse; /* 3 */
    }

    /*
    1. Change the font styles in all browsers.
    2. Remove the margin in Firefox and Safari.
    3. Remove default padding in all browsers.
    */

    button,
    input,
    optgroup,
    select,
    textarea {
      font-family: inherit; /* 1 */
      font-feature-settings: inherit; /* 1 */
      font-variation-settings: inherit; /* 1 */
      font-size: 100%; /* 1 */
      font-weight: inherit; /* 1 */
      line-height: inherit; /* 1 */
      color: inherit; /* 1 */
      margin: 0; /* 2 */
      padding: 0; /* 3 */
    }

    /*
    Remove the inheritance of text transform in Edge and Firefox.
    */

    button,
    select {
      text-transform: none;
    }

    /*
    1. Correct the inability to style clickable types in iOS and Safari.
    2. Remove default button styles.
    */

    button,
    [type='button'],
    [type='reset'],
    [type='submit'] {
      -webkit-appearance: button; /* 1 */
      background-color: transparent; /* 2 */
      background-image: none; /* 2 */
    }

    /*
    Use the modern Firefox focus style for all focusable elements.
    */

    :-moz-focusring {
      outline: auto;
    }

    /*
    Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
    */

    :-moz-ui-invalid {
      box-shadow: none;
    }

    /*
    Add the correct vertical alignment in Chrome and Firefox.
    */

    progress {
      vertical-align: baseline;
    }

    /*
    Correct the cursor style of increment and decrement buttons in Safari.
    */

    ::-webkit-inner-spin-button,
    ::-webkit-outer-spin-button {
      height: auto;
    }

    /*
    1. Correct the odd appearance in Chrome and Safari.
    2. Correct the outline style in Safari.
    */

    [type='search'] {
      -webkit-appearance: textfield; /* 1 */
      outline-offset: -2px; /* 2 */
    }

    /*
    Remove the inner padding in Chrome and Safari on macOS.
    */

    ::-webkit-search-decoration {
      -webkit-appearance: none;
    }

    /*
    1. Correct the inability to style clickable types in iOS and Safari.
    2. Change font properties to `inherit` in Safari.
    */

    ::-webkit-file-upload-button {
      -webkit-appearance: button; /* 1 */
      font: inherit; /* 2 */
    }

    /*
    Add the correct display in Chrome and Safari.
    */

    summary {
      display: list-item;
    }

    /*
    Removes the default spacing and border for appropriate elements.
    */

    blockquote,
    dl,
    dd,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    hr,
    figure,
    p,
    pre {
      margin: 0;
    }

    fieldset {
      margin: 0;
      padding: 0;
    }

    legend {
      padding: 0;
    }

    ol,
    ul,
    menu {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    /*
    Reset default styling for dialogs.
    */
    dialog {
      padding: 0;
    }

    /*
    Prevent resizing textareas horizontally by default.
    */

    textarea {
      resize: vertical;
    }

    /*
    1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
    2. Set the default placeholder color to the user's configured gray 400 color.
    */

    input::placeholder,
    textarea::placeholder {
      opacity: 1; /* 1 */
      color: theme('colors.gray.400', #9ca3af); /* 2 */
    }

    /*
    Set the default cursor for buttons.
    */

    button,
    [role='button'] {
      cursor: pointer;
    }

    /*
    Make sure disabled buttons don't get the pointer cursor.
    */
    :disabled {
      cursor: default;
    }

    /*
    1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
    2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
    This can trigger a poorly considered lint error in some tools but is included by design.
    */

    img,
    svg,
    video,
    canvas,
    audio,
    iframe,
    embed,
    object {
      display: block; /* 1 */
      vertical-align: middle; /* 2 */
    }

    /*
    Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
    */

    img,
    video {
      max-width: 100%;
      height: auto;
    }

    /* Make elements with the HTML hidden attribute stay hidden by default */
    [hidden] {
      display: none;
    }
  }
}

