@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @import '../../root.css';
  .dark,
  .dark * {
    --asdk-dui-background-color: var(
      --app-sdk-dynamic-user-interface-background-color,
      theme('colors.app-sdk-gray.500')
    );
    --asdk-dui-shadow-color: var(--app-sdk-dynamic-user-interface-shadow-color, theme('colors.app-sdk-gray.300'));
    --asdk-dui-border-color: var(--app-sdk-dynamic-user-interface-border-color, transparent);

    --asdk-dui-formfield-hint-text-color: var(
      --app-sdk-dynamic-user-interface-formfield-hint-text-color,
      theme('colors.app-sdk-gray.200')
    );
    --asdk-dui-formfield-background-color: var(
      --app-sdk-dynamic-user-interface-formfield-background-color,
      theme('colors.app-sdk-gray.350')
    );
    --asdk-dui-formfield-placeholder-text-color: var(
      --app-sdk-dynamic-user-interface-formfield-placeholder-text-color,
      theme('colors.gray.400')
    );
    --asdk-dui-formfield-invalid-color: var(--app-sdk-dynamic-user-interface-formfield-invalid-color, #dc35467f);
    --asdk-dui-formfield-checkbox-text-color: var(
      --app-sdk-dynamic-user-interface-formfield-checkbox-text-color,
      #007bff74
    );

    /* HEADER */
    --asdk-dui-header-text-color: var(
      --app-sdk-dynamic-user-interface-header-text-color,
      theme('colors.app-sdk-gray.150')
    );

    /* FOOTER */
    --asdk-dui-footer-background-color: var(
      --app-sdk-dynamic-user-interface-footer-background-color,
      theme('colors.app-sdk-gray.600')
    );
    --asdk-dui-footer-continue-button-background-color: var(
      --app-sdk-dynamic-user-interface-footer-continue-button-background-color,
      #33609a
    );
    --asdk-dui-footer-continue-button-background-hover-color: var(
      --app-sdk-dynamic-user-interface-footer-continue-button-background-hover-color,
      #3666a5
    );
    --asdk-dui-footer-continue-button-focus-outline-color: var(
      --app-sdk-dynamic-user-interface-footer-continue-button-focus-outline-color,
      #3666a5
    );

    --asdk-dui-footer-decline-button-background-color: var(
      --app-sdk-dynamic-user-interface-footer-decline-button-background-color,
      theme('colors.app-sdk-gray.350')
    );
    --asdk-dui-footer-decline-button-background-hover-color: var(
      --app-sdk-dynamic-user-interface-footer-decline-button-background-hover-color,
      theme('colors.app-sdk-gray.300')
    );
    --asdk-dui-footer-decline-button-focus-outline-color: var(
      --app-sdk-dynamic-user-interface-footer-decline-button-focus-outline-color,
      theme('colors.app-sdk-gray.300')
    );
  }

  *,
  ::before,
  ::after {
    --asdk-dui-background-color: var(--app-sdk-dynamic-user-interface-background-color, theme('colors.white'));
    --asdk-dui-text-color: var(--app-sdk-dynamic-user-interface-text-color, var(--asdk-text-color));
    --asdk-dui-link-color: var(--app-sdk-dynamic-user-interface-link-color, theme('colors.sky.600'));
    --asdk-dui-link-hover-color: var(--app-sdk-dynamic-user-interface-link-hover-color, theme('colors.sky.900'));
    --asdk-dui-border-color: var(--app-sdk-dynamic-user-interface-border-color, theme('colors.gray.300'));
    --asdk-dui-focus-color: var(--app-sdk-dynamic-user-interface-focus-color, var(--asdk-focus-color));
    --asdk-dui-shadow-color: var(--app-sdk-dynamic-user-interface-shadow-color, theme('colors.gray.400'));

    --asdk-dui-formfield-hint-text-color: var(
      --app-sdk-dynamic-user-interface-formfield-hint-text-color,
      theme('colors.gray.500')
    );
    --asdk-dui-formfield-background-color: var(
      --app-sdk-dynamic-user-interface-formfield-background-color,
      theme('colors.white')
    );
    --asdk-dui-formfield-placeholder-text-color: var(
      --app-sdk-dynamic-user-interface-formfield-placeholder-text-color,
      theme('colors.gray.500')
    );
    --asdk-dui-formfield-invalid-color: var(
      --app-sdk-dynamic-user-interface-formfield-invalid-color,
      theme('colors.red.500')
    );
    --asdk-dui-formfield-checkbox-text-color: var(
      --app-sdk-dynamic-user-interface-formfield-checkbox-text-color,
      theme('colors.sky.600')
    );

    /* HEADER */
    --asdk-dui-header-text-color: var(--app-sdk-dynamic-user-interface-header-text-color, theme('colors.gray.900'));

    /* FOOTER */
    --asdk-dui-footer-background-color: var(
      --app-sdk-dynamic-user-interface-footer-background-color,
      theme('colors.gray.50')
    );

    --asdk-dui-footer-continue-button-text-color: var(
      --app-sdk-dynamic-user-interface-footer-continue-button-text-color,
      theme('colors.white')
    );
    --asdk-dui-footer-continue-button-background-color: var(
      --app-sdk-dynamic-user-interface-footer-continue-button-background-color,
      theme('colors.sky.600')
    );
    --asdk-dui-footer-continue-button-background-hover-color: var(
      --app-sdk-dynamic-user-interface-footer-continue-button-background-hover-color,
      theme('colors.sky.700')
    );
    --asdk-dui-footer-continue-button-focus-outline-color: var(
      --app-sdk-dynamic-user-interface-footer-continue-button-focus-outline-color,
      theme('colors.sky.500')
    );

    --asdk-dui-footer-decline-button-text-color: var(
      --app-sdk-dynamic-user-interface-footer-decline-button-text-color,
      var(--asdk-text-color)
    );
    --asdk-dui-footer-decline-button-background-color: var(
      --app-sdk-dynamic-user-interface-footer-decline-button-background-color,
      theme('colors.white')
    );
    --asdk-dui-footer-decline-button-background-hover-color: var(
      --app-sdk-dynamic-user-interface-footer-decline-button-background-hover-color,
      theme('colors.gray.50')
    );
    --asdk-dui-footer-decline-button-focus-outline-color: var(
      --app-sdk-dynamic-user-interface-footer-decline-button-focus-outline-color,
      theme('colors.gray.300')
    );
  }
}
