.dark,
.dark * {
  --asdk-focus-color: var(--app-sdk-focus-color, #007bff40);
  --asdk-text-color: var(--app-sdk-text-color, theme('colors.app-sdk-gray.50'));
}

*,
::before,
::after {
  --asdk-focus-color: var(--app-sdk-focus-color, theme('colors.sky.700'));
  --asdk-text-color: var(--app-sdk-text-color, theme('colors.gray.700'));
}
