name: Prettier

on: [pull_request]

jobs:
  run_prettier:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install dependencies
        run: npm install

      - name: Run Prettier
        run: npx prettier -c --config ./.prettierrc.js .
